.nav-pills .nav-link.active{
    background-color: rgba(101,101,101,0.7);
    border-radius: 0.5em;
    font-size: 1.2em;
}
.nav-link:hover{
    color: #656565;
    border-radius: 1em;
}

.btn-login{
background-color: #656565;
color: #fff;
margin-bottom: 1em;
}
a{
    color: #656565;
}
.register{
    font-weight: 600;
    cursor: pointer;
}
.register:hover{
    color: #0a58cacf;
}