.nav-pills .nav-link.active{
    background-color: rgba(101,101,101,0.7);
    border-radius: 0.5em;
    font-size: 1.2em;
}
.nav-link:hover{
    color: #656565;
    border-radius: 1em;
}

.btn-login{
background-color: #656565 !important;
color: #fff !important;
margin-bottom: 1em !important;
height: 2em !important;
}
.btn-login:hover{
background-color: #fff !important;
color: #656565 !important;
}
a{
    color: #4096dd;
    cursor: pointer;
    font-weight: 600;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.register{
    font-weight: 600;
    cursor: pointer;
}
.register:hover{
    color: #0a58cacf;
}