
  .logo{
	width: 5.5em;
	cursor: pointer;
  }
  .navbar{
	width: 100%;
	height: 4em;
	background-color:#fefbfc ;
  }
  .nav-link{
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	font-weight: 800;
	color: #646464;
  }
  .a-link{
	text-decoration: none;
	font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	font-weight: 600;
	font-size: 1.4em;
	color: #646464;


  }
  .profile{
	font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	font-weight: 800;
	color: #646464;
	text-transform: uppercase;
	margin-right: 0.4em;
	cursor: pointer;
  }
  .profile:hover{
	color: #fff;
	background-color: #646464;
  }
  .logout{
color: #646464;
padding: 0.8em;
}
.dropdown-item:hover .logout{
	color: #fff;
}
.dropdown-item:hover{
	color: #fff;
	background-color: #646464
}
  .toggler{
	border: none;
	text-decoration: none;
	outline: none;
	background-color:#fefbfc;
	padding: 0;
	margin-right: 1em;
  }
  .navbar-toggler:focus{
	box-shadow: none;
  }
 .colapsed{
	background-color: #fefbfc;
 }
 .btn-primary {
	background-color: #fefbfc;
	border: none;
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	font-weight: 600;
	color: #646464;
	margin-top: 2px;
 }
 .btn-primary:hover {
	background-color: #fefbfc;
	border: none;
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	font-weight: 600;
	color: #646464;
	margin-top: 2px;
 }
 .dropdown-toggle::after {
	display: none !important; 
  }
 .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
	background: none;
	color: #646464;
 }

.dropdown-menu{
	background-color: #fefbfc;
	border: none;
	--bs-dropdown-link-active-bg:none;
} 
.s{
	border: none;
	background-color: #fefbfc;
	
	
}
.cat{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #646464;
	cursor: pointer;
}
.drop-item:hover .cat{
	color: #ffffff;
}
.srch{
	border-radius: 0.8em !important;
}
.srch:focus{
	outline: none !important;
	border: solid 0.1em #646464 !important;
	box-shadow: none !important;
}