.categories{
    background-color: #ffffff;
}
.t{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #666666;
    font-weight: 800;
}
.h{
    color: #353535;
    font-size: 3em;
    
}
.card{
    border: none;
    border-radius: 1.1em;
    margin: auto; 
}

.card-img{

    border-radius: 1em;
    
}

.card:hover .card-img{
    -webkit-mask-image: linear-gradient(#080808,rgba(0, 0, 0, 0.3));
    mask-image:linear-gradient(#000000,rgba(0, 0, 0, 0.3));
}

.card:hover .t{
    color: #ffffff;
}
