.s-btn{
    height: 2em;
}
a{
    text-decoration: none;
}
.fas{
    color: #656565; 
}
.log{
    width: 8em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.head-t{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #656565;
    font-weight: 600;
}
.head{
    color: #656565;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.name{
    font-weight: 600;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #656565;
    text-transform: uppercase;
    
}
.action-icon{
    color: #fff;
}
.action-btn:hover .action-icon{
    color: #656565;
}
.action-btn{
    background-color: #656565;
    color: #fff;
    font-size: 0.8em;
    height: 2.3em;
    width: 6em;
}
.form-btn{
    background: #656565;
    color: #fff;
    height: 2em;
    width: 100%;
}
.form-btn:hover{
    background: #fff;
    color: #656565;
    height: 2em;
    width: 100%;
}
.head-p{
    color: #656565;
}
.head-p:hover{
    color: #656565;
}
.delete-btn{
    background: #d66767;
    color: #fff;
    height: 2em;
    width: 100%;
}